# Project exclude paths
/.gradle/
/build/
/ProjectSite-back/build/
/ProjectSite-back/build/classes/java/main/
/ProjectSite-back/build/classes/java/test/
/ProjectSite-front/build/
/ProjectSite-front/node_modules/
build
out
/.idea
